body {
    background:#660000;
    
}

* {
    box-sizing: border-box;
}


.picture img {
    border-radius: 360px;
    width: 200px;
    height: 200px;
}

.picture {
    position: relative;
    margin-top: 70px;
    margin-left:250px;
    border:2px solid blue;
    width:210px;
}

#name {
    border:1px green solid;
    position:relative;
    margin-top: 20px;
    margin-left: 100px;
    width:70%;
    overflow: hidden;
}
.font-main{
    font-family: 'Montserrat', sans-serif;
    font-size:40px ;
}

.wrapper {
    position:absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    border:2px solid;
    height:100%;
    width:100%;
    text-align: center;
}


.row {
    position: relative;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 20%;
    border:2px gray solid;
    
    
}

.menu {
    width: 150px;
    height: 500px;
}

li {
    text-align: center;
    border:2px solid;
    
}


.main-slider {
    width:60%;
    height: 500px;
    overflow: hidden;
    position:relative;
    margin:0 auto;
    border:2px solid #FF0000;
    text-align: center;
    display:inline-block;
}

.icon-menu {
    position:relative;
    margin-top:15px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    width: 20%;
    border:2px green solid;
    text-align: center;
}

.li-menu {
  height: 100px;    
  text-align:center;
}

#facebook {
    background-color: #2e669e;
    
}

#about {
  width:800px;
  height:500px;
  margin-left:-10px;
  background-image:url(leather.png);
  display:none;
  position:absolute;
}

.item {
  position:relative;
  margin-left:20px;
  margin-top:10px;
  width:40%;
  padding-right:30px;
  border-bottom:1px solid blue ;
  float:left;
  font:'Montserrat' sans-serif;
  color:#004280;
  font-size:15px;
}

.value {
  display: inline-block;
  position:relative;
  margin-right:20px;
  margin-top:10px;
  width:40%;
  padding-right:30px;
  font-family:'Lato' sans-serif;
  border-bottom:1px solid black;
}

header {
    border-bottom:1px solid #0077e6;
    padding-left:30px; 
    width:100;
    height:60px;
}

header p {
    font:'Montserrat' sans-serif;
    color:#004280;
    font-size: 30px;
}


    
    
    
    
    
}