body {
    background:url('background.jpg');

    
}

* {
    box-sizing: border-box;
}

#firstpage {
    border:2px solid yellow;
    display:block;
}
.picture img {
    border-radius: 360px;
    width: 200px;
    height: 200px;
}

.picture {
    position: relative;
    margin-top: 70px;
    margin-left:250px;
    border:2px solid blue;
    width:210px;
}

#name {
    border:1px green solid;
    position:relative;
    margin-top: 20px;
    margin-left: 100px;
    width:70%;
    overflow: hidden;
    display:block;
}

.font-main{
    font-family: 'Montserrat', sans-serif;
    font-size:40px ;
}

.wrapper {
    position:absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    border:2px solid;
    height:100%;
    width:100%;
    text-align: center;
}


.row {
    position: relative;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    border:2px gray solid;
    
    
}

.menu {
    width: 150px;
    height: 500px;
}

li {
    text-align: center;
    border:2px solid;
}

.main-slider {
    width:60%;
    height: 500px;
    overflow: hidden;
    position:relative;
    margin:0 auto;
    border:2px solid #FF0000;
    text-align: center;
    display:inline-block;
    background: url('') no-repeat;
}


.icon-menu {
    position:relative;
    margin-top:15px;
    margin-right: 50px;
    padding-left: 5px;
    padding-right: 15px;
    float: right;
    border:2px green solid;
    text-align: center;
}

.li-menu {
  height: 100px;    
  text-align:center;
}

    


#about {
  width:100%;
  height:100%;
  background-image:url(leather.png);
  display:none;
  position:absolute;
}

.Fonthead {
    font-family:Impact, fantasy;
    font:'Montserrat' sans-serif;
    color:#004280;
    font-size: 30px;
}

#imp {
    box-sizing:border-box;
    font-size: 20px;
    
} 

.item {
  position:relative;
  margin-left:20px;
  margin-top:10px;
  width:40%;
  padding-right:30px;
  padding-left:10px;
  border-bottom:1px solid blue ;
  float:left;
  color:#004280;
  font-size:20px;
  
}

.value {
  display: inline-block;
  position:relative;
  margin-right:20px;
  margin-top:10px;
  width:40%;
  padding-right:30px;
  font-family:'Lato' sans-serif;
  border-bottom:1px solid black;
}

header {
    border-bottom:1px solid #0077e6;
    padding-left:30px; 
    width:100;
    height:60px;
}


.home {
    background:url('home.png') center no-repeat #ff751a;
}

.about {
    background:url('about.png') center no-repeat #d590d5;
}

.resume {
    background:url('check.png') center no-repeat #739900;
}

.contact {
    background:url('message.png') center no-repeat #cc9966;
}

.twit {
    background: url('twitter.png') center no-repeat #e6f3ff;
}
.facebook {
    background: url('social.png') center no-repeat #0E318A;
}

.github {
    background:url('github.png') center no-repeat #ff5050;
}

.vkcom {
    background: url("vkcom.png") center no-repeat #0000b3;
}

#button {
  display: block;
  position: relative;
  overflow: hidden;
  margin: -7px;
  padding: 0;
  width: 108px;
  height: 96px;
  font-size: 0;
  text-indent:;
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
  box-shadow: none;
  border-radius:none;
  border: none;
  cursor: pointer;
}
 

span:focus {
outline: none;
}

#thirdpage {
  width:100%;
  height:100%;
  background-image:url(leather.png);
  display:none;
  position:absolute;
}


.banner {
  height:20px;
  width:200px;
  -webkit-transition: width 2s ease-out;
  background-color:#ccd9ff;
  
}
.inside {
  text-align:center;
  height:90%;
  width:75%;
  background-color:#004280;
  float:left;
  margin-bottom:-10px;
}
 
 #contact {
     
    
 }
  
.form {
    display:block;
    
}    
    
    
    
    
