body {
    background:url('background2.jpg') no-repeat;
}

* {
    box-sizing: border-box;
}

.wrapper {
    position:absolute;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    height:90%;
    width:100%;
    text-align: center;
    border-radius:20px;
}

.main-slider {
    width:60%;
    height:100%;
    overflow: hidden;
    position:relative;
    margin:0 auto;
    text-align: center;
    display:inline-block;
    float:none;
}

#firstpage {
    display:block;
    height:100%;
    background-image:url(river.jpg);
    border:2px  solid;
    border-radius: 20px;
}

.picture img {
    border-radius: 360px;
    width: 200px;
    height: 230px;
}

.picture {
    position: relative;
    margin:0 auto;
    margin-top:20px;
    width:250px;
}

.name {
    position:relative;
    margin-top: 20px;
    margin-left: 120px;
    width:70%;
    overflow: hidden;
    display:block;
}

.font-main{
    font-family: 'Amaranth';
    font-size:50px ;
    color:#a32929;
}

.font-main-2 {
    font-family:'Amaranth';
    font-size:30px;
    color:#a32929;
    
}

.row {
    position: relative;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.menu {
    width: 150px;
    height: 500px;
}

li {
    text-align: center;
   
}

.icon-menu {
    position:relative;
    margin-top:15px;
    margin-right: 50px;
    padding-left: 5px;
    padding-right: 15px;
    float: right;
    text-align: center;
}

.li-menu {
  height: 100px;    
  text-align:center;
}

#about,#contact {
    background-image:url(sand.jpg);
}


#about {
  width:100%;
  height:100%;
  display:none;
  position:absolute;
  background-image: url('sand.jpg');
}

header {
    padding-left:30px; 
    width:100%;
    height:60px;
}

.headerfoto {
    display:block;
    float:right;
    width:50%;
    height:180px;
    margin-top:-3px;
}

.headerfoto img{
    float:left;
    width:70%;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

.task {
    width:50%;
}

.clear {
    width:50%;
    height:100px;
}

.Fonthead {
    font-family:Impact, fantasy;
    color:#004280;
    font-size: 30px;
}

.Fontsecond {
    font:'Lora' serif ;
    color:#004280;
    font-size: 24px;
    border-bottom: #004280 2px;
    
}

#imp {
    box-sizing:border-box;
    font-size: 20px;
    float:left;
    margin-bottom:10px;
    
} 

.item {
  position:relative;
  margin-left:40px;
  margin-top:10px;
  width:40%;
  float:left;
  color:#004280;
  border-bottom:1px solid #004280 ;
}

.value {
  display: inline-block;
  position:relative;
  margin-right:20px;
  margin-top:10px;
  width:40%;
  padding-right:30px;
  font-family:'Lato' sans-serif;
  border-bottom:0.5px solid;
}


.home {
    background:url('home.png') center no-repeat #ff751a;
}

.about {
    background:url('about.png') center no-repeat #d590d5;
}

.resume {
    background:url('check.png') center no-repeat #739900;
}

.contact {
    background:url('message.png') center no-repeat #cc9966;
}

.twit {
    background: url('twitter.png') center no-repeat #e6f3ff;
}
.facebook {
    background: url('social.png') center no-repeat #0E318A;
}

.github {
    background:url('github.png') center no-repeat #ff5050;
}

.vkcom {
    background: url("vkcom.png") center no-repeat #0000b3;
}

#button {
  display: block;
  position: relative;
  overflow: hidden;
  margin: -7px;
  padding: 0;
  width: 108px;
  height: 96px;
  font-size: 0;
  text-indent:;
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
  box-shadow: none;
  border-radius:none;
  border: none;
  cursor: pointer;
}
 

span:focus {
outline: none;
opacity: .8;
}

#thirdpage {
  width:100%;
  height:100%;
  display:none;
  position:absolute;
  background-image: url('leather.png');
}

.section {
    display:inline-block;
    height:100%;
}

.education {
    float:left;
    height:100%;
    width:60%;
    position:relative;
    margin-left:20px;
    text-align:left;
    display:block;
}
.university {
    font-size:20px;
    width:100%;
    height:auto;
    border-bottom:1px dotted #004280;
}
.year {
   width:100%;
}
.task p,.education p,.year, .university {
    font-family:'Lora';
}

.skills {
    height:100%;
    width:30%;
    float:right;
}


.skillname {
    text-align: left;
    font-family:'Lora';
    margin-top:20px;
}


.banner {
  height: 25px;
  width:200px;
  background-color:#ccd9ff;
  position:relative;
  margin-right:15px;
  margin-bottom:10px;
}

.inside-1 {
  height:100%;
  width:90%;
}

.inside-2{
  height:100%;
  width:70%;
}

.inside-3 {
  height:100%;
  width:65%;
}

.inside-1, .inside-2, .inside-3 {
    background-color: #0073e6;
}

.text {
    float:right;
    padding-top:3px;
    font-family:'Lora';
} 

#contact {
     position:relative;
     height:100%;
     width:100%;
     display:none;
 }
 
 lable {
     display:block;
     margin-top: 20px;
     letter-spacing:2px;
 }
  
.form {
    position:relative;
    margin-right:20px; 
    margin-top:60px;
    float: right;
    width:400px;
    height:200px;
    text-align:left;
    
}  

input,textarea {
    width:400px;
    height:27px;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}

textarea {
	height:150px;
	background: #efefef;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:100px;
    height:40px;
    background-color: #97d6eb;
    border:none;
    margin-top:20px;
    cursor:pointer;
}


	#submit:hover {
	    opacity:.7;
	}

/*input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
    
    
    
    
